.container {
  margin: 20px;
}
.profile {
  margin: auto;
  .delbtn {
    position: relative;
    display: flex;
    margin: 0;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(/img/Group1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  height: 300px;
  width: 1100px;
  border-radius: 15px;
  label {
    margin-right: 15px;
    margin-left: 15px;
  }
  input {
    border: 2px solid;
    border-radius: 9px;
    border-color: #af9cda;
    width: 120px;
  }
}
.client {
  margin: auto;
  .noneproperty{
    display: flex;
    align-items: center;
    
    height: 250px;
  }
  width: 1100px;
  border-radius: 15px;
}
h2 {
  color: #af9cda;
  margin-bottom: 30px;

  font-weight: bold;
}
.profbtn {
  height: 50%;
}
.user {
  .avatar {
    border-radius: 50%;
  }
  span[data-descr] {
    display: flex;
    position: relative;
    cursor: pointer;
  }
  span[data-descr]:hover::after {
    display: flex;
    content: attr(data-descr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 49%;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(/img/load_1.png);
    background-size: 40px 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    font-size: 14px;
    z-index: 1;
  }

  display: flex;
  margin: auto;
  height: 80%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  h2 {
    margin: 0px 20px;
    color: #000;
  }
  img {
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  button {
    padding: 0;
  }
  .fio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 12;
  }
}
