 .error{
    border: 2px solid red;
    margin:0px;
    margin-bottom: 8px;

  }
.errorMessage{
  font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 4px;
    color: #243762;
    margin-bottom: 8px;
}